<table class="table table-striped">
  <thead>
    <tr>
      <th width="25%">Friend</th>
      <th width="35%">Event</th>
      <th width="25%">Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invites.each do |invite| %>
      <tr>
        <td><strong><%= link_to invite.friend.name, invite %></strong></td>
        <td><%= link_to invite.event.name, invite %></td>
        <td><%= invite_status[invite.status].first %></td>

        <td><%= link_to 'Edit', edit_invite_path(invite) %></td>
        <td><%= link_to 'Delete', invite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
