<table class="table table-striped">
  <thead>
    <tr>
      <th width="25%">User</th>
      <th width="60%">Comment</th>
      <td colspan="2">
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><strong><%= comment.user.name %></strong><br /><%= comment.created_at.strftime('%-I:%M %p, %-m/%-d') %></td>
        <td><%= comment.comment %></td>

        <td><%= link_to 'Edit', edit_event_comment_path(@event,comment) %></td>
        <td><%= link_to 'Delete', event_comment_path(@event,comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>