<div id="title">Event: <%= @event.name %></div>

<%= render "event_details" %>

<h2>Invitees</h2>
<%= render partial: "/invites/invite_table" if @invites %>
<%= link_to "Invite a friend", new_invite_path(event_id: @event) %>


<h2>Comments</h2>
<%= render partial: "/comments/comment_table" if @comments %>
<%= link_to "Leave a comment", new_event_comment_path(@event) %>

<br /><br />



<%= link_to 'Edit event', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
