<div id="title">Event: <%= @event.name %></div>

<p>
  <strong>Date:</strong>
  <%= @event.date.strftime('%B %-d at %-I:%M %p') %>
</p>

<p>
  <strong>Location:</strong>
  <%= link_to @event.location, "https://maps.google.com?q=#{@event.location}" %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Event creator:</strong>
  <%= link_to @event_creator.name, "mailto:"+@event_creator.email if @event_creator %>
</p>


<p>
	<strong>Friends:</strong>
	<% invite_status = @invites.collect{|invite| invite.status} %>
	<%= @friends.count %> invited - 
	
	No response: <%= invite_status.count(Invite::INVITED) %>, 
	Accepted: <%= invite_status.count(Invite::ACCEPTED) %>, 
	Declined: <%= invite_status.count(Invite::DECLINED) %>

</p>

<h2>Invitees</h2>
<%= render partial: "/invites/invite_table" if @invites %>
<%= link_to "Invite a friend", new_invite_path(event_id: @event) %>


<h2>Comments</h2>
<%= render partial: "/comments/comment_table" if @comments %>
<%= link_to "Leave a comment", new_event_comment_path(@event) %>

<br /><br />



<%= link_to 'Edit event', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
