<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>


<div id="title">Game Night</div>
<div>Some descriptive text goes here.</div>

<br />

 
<h1>[Group Name] Gamenight Schedule</h1>

<% @events.each do |event| %>
    <div class="entry">
      <h3><%= event.name %> taking place on <%= event.date %></h3>
      <%= sanitize(event.description) %><br />
      <%= event.location %>
    </div>
<% end %>